@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar Design */
.parts-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.parts-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.parts-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #9ca3af 0%, #6b7280 100%); /* light gray → dark gray */
  border-radius: 20px;
}

.parts-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #6b7280 0%, #4b5563 100%); /* darker on hover */
}

.parts-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #9ca3af transparent; /* thumb gray */
}


@layer utilities {
  /* Remove arrows in number inputs (Chrome, Edge, Safari) */
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Remove arrows in number inputs (Firefox) */
  input[type="number"] {
    -moz-appearance: textfield;
  }
}
