@import "tailwindcss";

body {
  font-family: 'Poppins', sans-serif;
}

/* Scrollbar Design */
.parts-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.parts-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.parts-scrollbar::-webkit-scrollbar-thumb {
  background: linear-gradient(180deg, #ec4899 0%, #db2777 100%);
  border-radius: 20px;
}
.parts-scrollbar::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(180deg, #db2777 0%, #be185d 100%);
}
.parts-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #ec4899 transparent;
}
